{% extends 'directory/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}

<h1>Добавление устройства оповещения</h1><br/><br/>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="text-center">
        <button type="submit" class="btn btn-success">Добавить</button>
    </div>
</form>

{% endblock main_section %}