<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Справочник устройств оповещения</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="#"><b>Справочник устройств оповещения</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'show'%}">Просмотр</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add'%}">Добавление</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-info">
        {{ msg }}
    </div>
    {% endfor %}
    {% endif %}
    {% block main_section %}
    {% endblock %}
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"></span>
    </div>
</footer>

</body>
</html>