{% extends 'directory/main.html' %}
{% block main_section %}

<h1>Список устройств оповещения</h1><br/><br/>

<table class="table table-hover">
  <thead>
  <tr>
    <th><center>Тип устройства</center></th>
    <th><center>Адрес размещения</center></th>
    <th><center>Широта</center></th>
    <th><center>Долгота</center></th>
    <th><center>Радиус звукопокрытия</center></th>
  </tr>
  </thead>
  <tbody>
  {% for device in devices %}
  <tr>
    <td align="center">{{ device.devtype }}</td>
    <td align="center">{{ device.address }}</td>
    <td align="center">{{ device.latitude }}</td>
    <td align="center">{{ device.longitude }}</td>
    <td align="center">{{ device.soundradius }} м</td>
  </tr>
  {% endfor %}
  </tbody>
</table><br/>

<div class="d-flex justify-content-center">
  <nav aria-label="...">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link text-dark" href="/page{{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% for num in paginator.page_range %}
      {% if num == page_obj.number %}
      <li class="page-item active"><a class="page-link bg-dark border-dark" href="/page{{num}}">{{num}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link text-dark" href="/page{{num}}">{{num}}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link text-dark" href="/page{{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock main_section %}